@import "tailwindcss";
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueMontreal";
  src: url("/fonts/ppneuemontreal/ppneuemontreal-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueMontreal";
  src: url("/fonts/ppneuemontreal/ppneuemontreal-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background: #141414;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #2a7af1;
}

body {
  background: var(--background);
  color: var(--foreground);
}
